<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Cms\Controller\Adminhtml\Block\Save" type="ML\CustomBlock\Controller\Adminhtml\Block\Save" />
    <preference for="Magento\Cms\Model\Block\DataProvider" type="ML\CustomBlock\Model\Block\Cms\DataProvider" />
</config>